@media screen and (max-width: 768px) {
    [aria-controls="navbar-dropdown"] {
        display: block;
    }

    [aria-expanded="false"] ~ ul {
        display: none;
    }

    [aria-expanded="true"] ~ ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        position: absolute;
        right: 0;
        top: 0;
        padding: var(--size-80) 9.375rem;
        padding-top: var(--size-80);
        background: white;
        width: 100%;
        text-align: right;
        box-shadow: 0 0 var(--size-20) rgb(52 49 75 / 10%);
    }
    
    [aria-expanded="true"] ~ button {
        display: initial;
    }

    [aria-expanded="true"] ~ ul li a {
        margin-right: var(--size-40);
        color: #666;
    }

    .nav-link {
        margin: var(--size-50) 0;
    }

    .intro-left {
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    .title h1 {
        margin: auto;
    }

    .logos {
        margin: 0 var(--size-100);
    }

    .key-head {
        margin-top: var(--size-80);
    }

    .prospective {
        padding-top: 0;
        text-align: center;
    }

    .pro-img {
        margin-top: var(--size-30);
    }

    .why-wrapper>p {
        margin: 0 16%;
    }

    .line {
        width: var(--size-80);
    }
    
    .dot {
        width: 0.375rem;
        height: 0.375rem;
    }

    .bullet-text {
        margin: var(--size-20) var(--size-100) 0 var(--size-100);
    }
    
    .image {
        width: 100%;
        margin: auto;
    }

    .exec-dir-quote {
        align-items: center;
        text-align: center;
        margin: 0 var(--size-20);
    }

    .pricing-cards {
        margin: var(--size-60) var(--size-30) 0 var(--size-30);
    }

    .primary {
        grid-column: 1/3;
        padding: var(--size-20) var(--size-40);
        text-align: center;
    }

    .comp-card, 
    .cancel-card, 
    .image-card, 
    .money-card {
        padding: var(--size-20);
    }

    .hire-us, 
    .hire-us-wrapper {
        flex-direction: column;
    }

    .part-one {
        width: 100%;
    }

    .part-two {
        margin-left: var(--size-80);
    }

    .cont-wrapper {
        margin-left: var(--size-50);
    }
}

@media screen and (max-width: 375px) {
    .container,
    .logos {
        max-width: 360px;
        padding: 0;
        margin: 0;
    }

    .navbar {
        max-width: 375px;
    }

    .bg {
        width: 130%;
    }

    .header-bgTwo {
        width: 40%;
    }

    [aria-expanded="true"] ~ ul {
        padding: var(--size-80) 10rem;
    }

    .nav-link {
        margin: var(--size-30) 0;
    }

    [aria-expanded="true"] ~ ul li a {
        margin-right: 0px;
    }

    header h1 {
        width: 100%;
        font-size: var(--size-30);
    }

    .intro {
        gap: var(--size-60);
        margin-top: 9.375rem;
    }

    .intro-left {
        padding:0 var(--size-30);
    }

    .logos {
        padding: 0 var(--size-18);
    }

    .part-two,
    .bullet-text {
        margin: 0;
    }

    .bullet-wrapper {
        display: flex;
    }

    .bullet {
        margin-top: 0;
    }

    .circle {
        margin: 15px var(--size-30);
    }

    .bullet,
    .bullet-text,
    .bullet-text p {
        flex-direction: column;
        margin: var(--size-30) 0;
    }
    
    .bullet-text p {
        text-align: left;
    }

    .line {
        display: none;
    }

    .explain-video {
        margin-top: var(--size-40);
    }

    .hub-test {
        padding: 0 var(--size-20);
    }

    .exec-dir-quote {
        max-width: 300px;
    }

    .exec-dir-quote img {
        width: 40%;
    }

    .trust-comp {
        flex-direction: column;
        align-items: center;
    }

    .trust-comp img {
        width: 30%;
    }

    .pricing {
        margin-top: var(--size-100);
    }

    .primary {
        grid-column: initial;
    }

    .quote-wrapper {
        margin: 0px var(--size-50) 0 var(--size-40);
        text-align: center;
    }

    .quote-img {
    justify-content: center;
    }

    input,
    select {
        width: 93%;
    }

    .checkbox-input {
        top: -var(--size-60);
    }

    .cont-wrapper {
        width: 100%;
    }

    .flex-wrap {
        display: block;
        text-align: center;
    }

    .site-map-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .cont-wrapper {
        margin-left: 0;
    }

    .social {
        margin-left: var(--size-80);
        margin-top: var(--size-30);
    }

    .social select {
        width: 55%;
        margin: var(--size-20);
    }
}