.header-bg {
    background-image: linear-gradient(312.73deg, rgba(217, 217, 217, 0.44) 17.61%, rgba(217, 217, 217, 0) 55.85%);
    position: absolute;
    width: 1052px;
    height: 482px;
    left: 0px;
    top: 0px;
    transform: skew(-25deg, -5deg);
}

.bg2-wrapper {
    position: absolute;
    right: 0;
    top: 0;
    width: 444px;
    height: 448px;
    overflow: hidden;
}

.header-bg2 {
    position: absolute;
    width: 430px;
    height: 471px;
    right: -130px;
    top: -54px;
    background: #E1E7EF;
    transform: skew(-25deg, -5deg);
}

.navbar {
    position: fixed;
    top: 0;
    right: 0;
    left:0;
    z-index: 500;
    transition: ease-in-out .3s;
    padding: 16px;
} 

.navbar.sticky {
    background: white;
    box-shadow: 0 0 20px rgba(48,63,100,.2);
}

.navbar.sticky .navbar-toggler span,
.navbar.sticky .navbar-brand {
    color: #666;
}

.navbar-toggler {
    position: absolute;
    right: 20px;
    top: 10px;
    outline: none;
    background-color: transparent;
    border: 1px solid transparent;
}

.navbar-toggler span {
    color: #666;
    font-size: 20px;
    cursor: pointer;
    pointer-events: none;
}

[aria-controls="navbar-dropdown"] {
    display: none;
}

.navbar .container {
    display: flex;
}

.navbar-nav {
    display: flex;
}

.navbar .container,
.navbar-nav {
    align-items: center;
}

.navbar-brand {
    margin-right: 430px;
    width: 100%;
    transition: ease-in-out .3s;
}

.nav-link a {
    color: var(--font-light);
    font-size: var(--size-14);
    font-weight: 500;
    font-family: 'inter';
    margin-right: 40px;
    line-height: 17px;
    white-space: nowrap;
}

header {
    margin-top: var(--size-150);
}

header h1 {
    width: 250px;
    font-size: var(--size-40);
}

.title p {
    color: var(--font-light);
}

.head-link a {
    margin-left: var(--size-18);
    color: #2476FF;
    font-weight: 700;
}

.intro {
    display: flex;
}

.logos,
.intro-left {
    width: 50%;
}

.logo-wrapper {
    background: #FFFFFF;
    box-shadow: 0px 3px 13px rgba(0, 0, 0, 0.25);
    border-radius: 74%;
    padding: 10px;
    position: relative;
}

.google-logo {
    width: 60px;
    left: 116px;
    top: -15px;
}

.atla-logo {
    width: 80px;
    padding: 16px;
    top: -74px;
    left: 256px;
}

.asana-logo {
    width: 80px;
    padding: 16px;
    top: -154px;
    left: 471px;
}

.calendar-logo {
    width: 80px;
    padding: 16px;
    top: 66px;
    left: 452px;
}

.google-a-logo {
    width: 60px;
    padding: 10px;
    top: -36px;
    left: 224px;
}

.weave-logo {
    width: 80px;
    padding: 16px;
    top: -270px;
    left: 363px;
}

.paypal-logo {
    width: 80px;
    padding: 16px;
    top: -190px;
    left: 94px;
}