.bg {
    width: 120%;
    display: flex;
    position: absolute;
    top: 0;
    height: 29.25rem;
    overflow: hidden;
    transform: skew(-25deg, -5deg);
}

.bg-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    z-index: -1;
}

.header-bg {
    background-image: linear-gradient(312.73deg, rgba(217, 217, 217, 0.44) 17.61%, rgba(217, 217, 217, 0) 55.85%);
    width: 70%;
}

.header-bgTwo {
    background-color: #e1e7ef;
    width: 30%;
}

.bg-wrapper,
.header-bg,
.header-bgTwo {
    height: 31.25rem;
}

.navbar {
    position: fixed;
    top: 0;
    right: 0;
    left:0;
    z-index: 500;
    transition: ease-in-out .3s;
    padding: var(--size-16);
} 

.nav {
    display: flex;
    justify-content: space-between;
}

.navbar.sticky {
    background-color: white;
    box-shadow: 0 0 var(--size-20) rgba(48,63,100,.2);
}

.navbar.sticky .navbar-toggler span,
.navbar.sticky .navbar-brand {
    color: #666;
}

.navbar-toggler {
    position: absolute;
    right: var(--size-20);
    top: var(--size-30);
    outline: none;
    background-color: transparent;
    border:  0.0625rem solid transparent;
    z-index: 10;
}

.navbar-toggler span {
    color: #666;
    font-size: var(--size-20);
    cursor: pointer;
    pointer-events: none;
}

[aria-controls="navbar-dropdown"] {
    display: none;
}

.navbar .container {
    display: flex;
}

.navbar-nav {
    display: flex;
}

.navbar .container,
.navbar-nav {
    align-items: center;
}

.navbar-brand {
    width: 11.875rem;
    transition: ease-in-out .3s;
    z-index: 10;
}

.nav-link a {
    color: var(--font-light);
    font-size: var(--size-14);
    font-weight: 500;
    margin-right: var(--size-40);
    line-height: var(--size-18);
    white-space: nowrap;
}

header {
    margin-top: var(--size-150);
}

header h1 {
    width: 15.625rem;
    font-size: var(--size-40);
}

.title p {
    color: var(--font-light);
}

.head-link a {
    margin-left: var(--size-18);
    color: #2476FF;
    font-weight: 700;
}

.intro {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(500px,1fr));
    gap: var(--size-100);
}

.logo-wrapper {
    background: #FFFFFF;
    box-shadow: 0px 0.1875rem var(--size-14) rgba(0, 0, 0, 0.25);
    border-radius: 74%;
    padding: var(--size-10);
    position: relative;
}

.group-one,
.group-two,
.group-three {
    display: flex;
}

.group-two,
.group-one {
    justify-content: space-between;
}

.group-two {
    margin-top: 5.625rem;
}

.group-three {
    justify-content: flex-end;
    margin-top: var(--size-50);
}

.weave-logo {
    right: 20%;
}

.calendar-logo {
    right: var(--size-40);
}

.google-logo,
.google-a-logo {
    width: var(--size-60);
    height: var(--size-60);
    animation: fade-in linear .5s;
}

.atla-logo,
.asana-logo,
.calendar-logo,
.weave-logo,
.paypal-logo {
    width: var(--size-80);
    padding: var(--size-16);
    animation: fade-in linear .5s;
}

@keyframes fade-in {
    0% {top: var(--size-100);
        opacity: 0%;}
    100% {top: 0;
        opacity: 100%;}
            
}

.google-a-logo {
        right: 35%;
        bottom: var(--size-30);
        animation: fade-in-one linear .5s;
}

@keyframes fade-in-one {
    0% {top: var(--size-70);
        opacity: 0%;}
    100% {top: -1.875rem;
          opacity: 100%;}

}

.atla-logo {
    bottom: -2.5rem;
    animation: fade-in-two linear .5s;
}

@keyframes fade-in-two {
    0% {top: 8.75rem;
        opacity: 0%;}
    100% {top: -2.5rem;
          opacity: 100%;}

}

.asana-logo {
    bottom: -1.25rem;
    animation: fade-in-three linear .5s;
}

@keyframes fade-in-three {
    0% {top: 7.5rem;
        opacity: 0%;}
    100% {top: var(--size-20);
          opacity: 100%;}

}
    
.key-head {
    text-align: center;
}

.key-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(13.125rem,1fr));
    gap: var(--size-40);
    background: #FFFFFF;
    margin-top: var(--size-70);
    padding: 0 var(--size-20);
}

.key-cards img {
    width: var(--size-40);
}

.premium,
.responsive,
.documentation,
.customizable {
    border: .0625rem solid #FFFFFF;
    box-shadow: 0px var(--size-10) var(--size-20) rgba(0, 0, 0, 0.15);
    padding: var(--size-20);
}

.premium:hover,
.responsive:hover,
.documentation:hover,
.customizable:hover {
    cursor: pointer;
    box-shadow: 0px var(--size-10) var(--size-20) rgba(0, 0, 0, 0.45);
    margin-top: var(--size-60);
}

.cancel-card span,
.premium span {
    font-size: var(--size-12);
    color: white;
    background: #01C9A7;
    padding: 0.25rem var(--size-10);
    border-radius: var(--size-16);
}

.prospective {
    background-color: #f8fafe;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(3var(--size-50),1fr));
    margin-top: var(--size-100);
    padding-top: var(--size-150);
    padding-right: 0;
}

.front-video {
    padding: var(--size-20);
}

.front-video h2 {
    font-size: var(--size-30);
    font-weight: 500;
}

.why-wrapper {
    text-align: center;
    margin-top: var(--size-100);
}

.why-wrapper>p {
    margin: 0 27%;
}

.bullet {
    display: flex;
    justify-content: center;
    margin-top: var(--size-100);
}

.circle {
    width: var(--size-50);
    height: var(--size-50);
    background:  #ECF2FF;
    border-radius: var(--size-30);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 var(--size-10);
}

.dot {
    width: 0.1875rem;
    height: 0.1875rem;
    border-radius: var(--size-30);
    background: #0066ff;
}

.line {
    background: #E6E9F2;
    height:  0.0625rem;
    width: var(--size-150);
    align-self: center;
}

.bullet-text {
    display: flex;
    justify-content: space-between;
    margin: var(--size-20) 11.25rem 0 11.25rem;
}

.bullet-text p {
    color: initial;
}

.explain-video {
    position: relative;
    margin-top: var(--size-100);
}

.play-btn {
    background: white;
    width: var(--size-70);
    height: var(--size-70);
    border-radius: var(--size-50);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: var(--size-20);
    box-shadow: 0 0 var(--size-10) rgb(0 0 0 / 40%);
}

.play-btn:hover {
    box-shadow: 0 0 var(--size-20) rgb(0 0 0 / 60%);
    cursor: pointer;
}

.pricing,
.exec-dir {
    margin-top: var(--size-100);
}

.hub-test {
    display: grid;
    gap: 5.625rem;
    grid-template-columns: repeat(auto-fit,minmax(21.875rem,1fr));
}

.image {
    position: relative;
}

.image img:nth-child(1) {
    width: 45%;
    margin-top: 25%;
}

.image img:nth-child(2) {
    position: absolute;
    right: var(--size-16);
    top: 0;
    width: 85%;
}

.exec-dir-quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.exec-dir-quote img {
    width: 20%;
}

.exec-dir-quote p:nth-child(2) {
    font-size: 1.5625rem;
    line-height: 2.1875rem;
    font-weight: 600;
}

.exec-dir-quote p:nth-child(3) {
    font-size: var(--size-18);
    font-weight: 600;
}

.exec-dir-quote p:nth-child(4) {
    font-size: var(--size-14);
}

.exec-dir-quote p:nth-child(4),
.exec-dir-quote p:nth-child(3) {
    margin: 0;
}

.exec-dir-quote p:nth-child(2),
.exec-dir-quote p:nth-child(3) {
    color: black;
}

.trusted {
    text-align: center;
    margin-top: var(--size-100);
}

.trusted h2 {
    color: var(--font-dark);
}

.trust-comp {
    display: flex;
    justify-content: space-between;
}

.trust-comp img {
    width: 10%;
    margin-top: var(--size-50);
}

.pricing h2,
.pricing>p {
    text-align: center;
}

.pricing-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18.75rem,1fr));
    gap: var(--size-18);
    margin: var(--size-60) var(--size-60) 0 var(--size-60);
}

.pricing-cards img {
    width:2.8125rem;
}

.primary {
    grid-row: 1/3;
    padding: var(--size-60) var(--size-40);
    box-shadow: 0px var(--size-10) var(--size-20) rgba(0, 0, 0, 0.15);
}

.primary span{
    font-size: var(--size-50);
    color: black;
}

.primary p:nth-last-child(1) {
    font-size: var(--size-12);
}

.comp-card,
.cancel-card,
.image-card,
.money-card {
    padding: var(--size-20) 2.75rem;
}

.hire-us {
    margin-top: var(--size-100);
}

.quote-img, 
.hire-us,
.hire-us-wrapper {
    background: #20335B;
    display: flex;
}

.hire-us-wrapper {
    max-width: 62.5rem;
}

.quote-wrapper {
    margin: var(--size-100) var(--size-50) 0 var(--size-40);
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(15.625rem,1fr));
}

.top-quote h2 {
    font-size: var(--size-40);
    margin-bottom: var(--size-10);
}

.top-quote h2,
.top-quote hr,
.name, 
.quote {
    color: white;
}

.top-quote hr,
.top-quote {
    width: 80%;
}

.top-quote hr {
    margin: var(--size-30) 0;
}

.quote {
    line-height: 1.5rem;
}

.name {
    font-weight: 700;
    font-size: var(--size-18);
    margin-top: var(--size-30);
}

.job-title p {
    margin-top: 0.3125rem;
}

.quote-body {
    
    overflow: hidden;
    max-width: 25.625rem;
}

.name-job,
.body-wrapper {
    display: flex;
    position: relative;
    animation: ani-one steps(1) 15s infinite;
}

@keyframes ani-one {
    0% {right: 0px;}
    33% {right: 18.75rem;}
    66% {right: 37.5rem;}
    100% {right: 0px;}
}

.woman-one,
.woman-two,
.man-one {
    min-width: 15.625rem;
    margin-right: var(--size-50);
}

.woman-one-img {
    animation: imgone steps(1) 15s infinite;
}

.woman-two-img {
    animation: imgtwo steps(1) 15s infinite;
}

.man-one-img {
    animation: imgthree steps(1) 15s infinite;
}

@keyframes imgone {
    0% {transform: scale(1.5);}
    33% {transform: scale(1.0);}
    100% {transform: scale(1.5);}
}

@keyframes imgthree {
    0% {transform: scale(1.0);}
    33% {transform: scale(1.5);}
    66% {transform: scale(1.0);}
    100% {transform: scale(1.0);}
}

@keyframes imgtwo {
    0% {transform: scale(1.0);}
    33% {transform: scale(1.0);}
    66% {transform: scale(1.5);}
    100% {transform: scale(1.0);}
}

.quote-img img {
    border-radius: 100%;
    width: var(--size-40);
    margin-top: var(--size-30);
    margin-right: var(--size-30);
}

form {
    background: #fff;
    padding: var(--size-30);
    margin: var(--size-30);
    border-radius: 0.9375rem;
}

textarea,
select,
input {
    width: 44%;
    margin: var(--size-10);
    padding: var(--size-10);
    border-radius: 0.3125rem;
}

textarea {
    resize: none;
    width: 93%;
}

.checkbox input {
    width: var(--size-20);
    height: var(--size-20);
    position: relative;
    top: -0.9375rem;
}
.checkbox label {
    display: inline-block;
    width: 80%;
    color: var(--font-light);
}

.form-btn {
    width: 100%;
    border-radius: var(--size-10);
    margin-top: var(--size-30);
}

.flex-wrap {
    display: flex;
    justify-content: center;
    margin-top: var(--size-80);
    font-size: var(--size-14);
    line-height: var(--size-30);
}

.cont-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(11.25rem,1fr));
    width: 45rem;
}

.flex-wrap i {
    margin-right: var(--size-10);
}

.comp-info span {
    color: white;
    background: #2576FF;
    font-size: 0.5rem;
    border-radius: 0.1875rem;
    padding: 0.25rem;
}

.site-map a,
.flex-wrap a {
    color: var(--font-light);
}

.phone img {
    width: 35%;
    margin: 0.9375rem 0;
}

.phone li {
    white-space: nowrap;
}

footer hr {
    margin: var(--size-40) 0;
}

.site-map-wrapper {
    display: flex;
    justify-content: space-between;
}

.site-map {
    display: flex;
    align-items: center;
}

.site-map span {
    margin: 0 var(--size-16);
}

.social button{
    height: var(--size-30);
    width: var(--size-30);
    font-size: var(--size-16);
    border: none;
    border-radius: var(--size-10);
    margin-right: var(--size-20);
}

.social select{
    width: 8.125rem;
}

a:hover {
    color: initial;
}

.copyright,
.disclaimer {
    text-align: center;
    max-width: 50rem;
    margin: auto
}

.disclaimer p {
    margin: 0 var(--size-30);
}